footer {
  background-color: var(--light-tertiary-color);

  & .footer__content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;

    & .footer__contact span {
      display: block;
      font-weight: 500;
    }

    & ul li {
      display: inline-block;

      & a {
        display: inline-block;
        padding: 1rem;
      }
    }

    & .footer__copyright {
      font-size: 1.4rem;
    }
  }
}
